html
    head
        title= "Search"
    body
        h1= "TwittMap"
        h4= "Please select a word you want to search in tweets"
        form(action="/display" method="post")
            select(name="selection")
                option(value="rich") rich
                option(value="strong") strong
                option(value="trump") trump
                option(value="wall") wall
            input(type="submit" value="Search")
